<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Contacto | MULTICONFORT IA</title>

<link rel="stylesheet" href="/css/style.css">

</head>


<body>


<%- include('../partials/navbar') %>


<section class="container py-5">

<div class="text-center">

<h1>
Contacto MULTICONFORT IA
</h1>


<h2>
Ingeniería HVACR + BMS + IoT + IA
</h2>


<p class="lead mt-4">

Estamos listos para analizar su proyecto:

</p>


<ul class="list-unstyled">

<li>❄ Sistemas HVACR industriales</li>

<li>🏢 Automatización BMS</li>

<li>📡 IoT Industrial</li>

<li>🧠 Integración Inteligente MULTICONFORT IA</li>

</ul>


<a href="/cotizacion" class="btn btn-info mt-4">

Solicitar Cotización

</a>


</div>

</section>


<%- include('../partials/footer') %>


<%- include('../partials/whatsapp') %>


</body>

</html>