<section style="padding:40px;text-align:center">

<h1>
📰 Publicaciones MULTICONFORT
</h1>


<p>
Seleccione la plataforma donde desea consultar nuestras publicaciones.
</p>



<div style="
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
">


<div class="card">

<h2>
📘 Facebook
</h2>

<p>
Noticias, proyectos y novedades.
</p>

<a href="https://www.facebook.com/"
target="_blank">

Entrar

</a>

</div>



<div class="card">

<h2>
💼 LinkedIn
</h2>

<p>
Contenido profesional e ingeniería.
</p>

<a href="https://www.linkedin.com/"
target="_blank">

Entrar

</a>

</div>



<div class="card">

<h2>
📚 Centro Técnico
</h2>

<p>
Próximamente:
artículos, manuales y casos reales.
</p>

</div>


</div>


</section>